.hover {
    border: 1px solid var(--static-transparent);

    &:hover {
        border: 1px solid var(--neutral-alpha-medium);
    }
}

.imageContainer {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    transition: var(--transition-micro-medium);
    transform: scale(1);
    object-fit: cover;
    width: 100%;
    height: 100%;
}